/*---INIT---------------------------------------------------------*/

@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

:root
{
    --main-color-b1:#111;
    --main-color-b2:#222;
    --main-color-b3:#333;
    --main-color-g:#555;
    --main-color-lg:#aaa;
    --main-color-lw:#ccc;
    --main-color-w:#eee;

    --noixe-color-ar:#7700cc;
    --noixe-color-ar1:#690db9;
    --noixe-color-ar2:#fc48cd;
    --noixe-color-ar2:#f893fc;
    --noixe-color-g:#aaa;
    --noixe-color-lb:#83fffd;
    --noixe-color-b:#388dff;

    --main-font-std:arial;
}

@font-face
{
    font-family: "Rounded Elegance";
    src:url(Rounded_Elegance.ttf);
}

.test{border:solid red 1px;}
.test2{border:solid blue 1px;}
.test3{border:solid green 1px;}
.test4{border:solid yellow 1px;}

.flex { display:flex; }
    .col { flex-direction:column; }
    .colrev { flex-direction:column-reverse; }
    .row { flex-direction:row; }
    .rowrev { flex-direction:row-reverse; }

    .h-start { justify-content:flex-start; }
    .h-center { justify-content:center; }
    .h-end { justify-content:flex-end; }
    .h-spaced, .spaced, .spread { justify-content:space-between; }
    .h-centerspaced { justify-content:space-around; }

    .v-start { align-items:flex-start; }
    .v-center { align-items:center; }
    .v-end { align-items:flex-end; }

    .center { justify-content:center; align-items:center; }

.autocenter { margin:0 auto; }
    
    /*---GENERAL------------------------------------------------------*/
    
body
{
    color:var(--main-color-w);
    background-color:var(--main-color-b3);
    font-family:var(--main-font-std);
}
