:root
{
    --main-color-b1:#111;
    --main-color-b2:#222;
    --main-color-b3:#333;
    --main-color-g:#555;
    --main-color-lg:#aaa;
    --main-color-lw:#ccc;
    --main-color-w:#eee;

    --noixe-color-ar:#7700cc;
    --noixe-color-ar1:#690db9;
    --noixe-color-ar2:#fc48cd;
    --noixe-color-ar2:#f893fc;
    --noixe-color-g:#aaa;
    --noixe-color-lb:#83fffd;
    --noixe-color-b:#388dff;

    --main-font-std:arial;
}

.test{border:solid red 1px;}
.test2{border:solid red 1px;}

.flex { display:flex; }
    .column { flex-direction:column; }
    .row { flex-direction:row; }
    .center-w { justify-content:center; }
    .center-h { align-items:center; }
    .end { align-items:flex-end; }
    .spaced { justify-content:space-between; }
