:root
{
    --main-stroke:black 1px 1px 1px, black -1px 1px 1px, black 1px -1px 1px, black -1px -1px 1px;
}

body
{
    font-size:10px;
    background-color:black;
}

.rounded-elegance { font-family:"Rounded Elegance"; }
.unselectable { pointer-events:none; user-select:none; }
.aa { filter:blur(0.5px); }
.stroke { text-shadow:var(--main-stroke); }
.disabled { opacity:.5; pointer-events:none; }

.hr-mid
{
    border:0;
    height:2px;
    margin:20px 0px;
    background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.hr-light
{
    border:0;
    height:1px;
    margin:10px 0px;
    background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
}

/* ########################################################################################### */

#bgimage
{
    margin:0px auto;
    position:fixed;
    z-index:-1;
    height:130%;
    width:130%;
    left:-40;
    top:-40;

    background-repeat:no-repeat;
    background-image:url("../imgs/bg/abs_bg.jpg");
    background-size:cover;
    background-position:center;
    transition:.1s ease-out;
    filter:grayscale(20%) blur(30px); /* 10 */
}

#sign
{
    font-size:4rem;
    text-align:center;
}

main
{
    display:flex;
        justify-content:center;
        align-items:center;
    height:100%;
}

.box
{
    width:max-content;
    padding:40px 60px;
    background-color:rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

#linktree
{
    width:100%;
    padding:0px 5px;
}

#linktree a
{
    width:100%;

    padding:0px 20px;
    padding-top:5px;
    margin:5px 0px;

    text-align:center;
    font-size:1.7rem;
    font-family:"Rounded Elegance";
    font-weight:bold;
    text-shadow:var(--main-stroke);
}

#linktree a:hover, #linktree a:active
{
    text-shadow:white 0px 0px 10px;
}

/* ########################################################################################### */

@media (max-width:472px)
{
    #sign
    {
        font-size:2rem;
    }

    .box
    {
        padding:20px 40px;
    }

    #linktree a
    {
        font-size:1.2rem;
    }

    #linktree a:active
    {
        text-shadow:white 0px 0px 10px;
    }
}