:root
{
    --main-stroke:black 1px 1px 1px, black -1px 1px 1px, black 1px -1px 1px, black -1px -1px 1px;
    --main-anim-duration: .3s;
    --main-website-icon-size: 3rem;
}

body
{
    font-size: 10px;
    background-color: black;
}

.rounded-elegance { font-family: "Rounded Elegance"; }
.unselectable { pointer-events: none; user-select: none; }
.aa { filter: blur(0.5px); }
.stroke { text-shadow:var(--main-stroke); }
.disabled { pointer-events: none; }
a.disabled { opacity: .5; }
.hidden { display: none; }
[link], .link { cursor: pointer; }

.relative { position: relative; }
.absolute { position: absolute; }
.absolute-init { top: 0; left: 0; }
.absolute-center-y { top: 50%; transform: translateY(-50%); }

.hr-mid
{
    border: 0;
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.hr-light
{
    border: 0;
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
}

:focus
{
    outline: solid rgba(255, 255, 255, 0.9) 2px;
}

.sr-only
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* ########################################################################################### */

#bgimage
{
    /* margin: 0px auto; */
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url("../imgs/bg/abs_bg-blur.png");
    background-size: cover;
    background-position: center;
}

#logo {
    width: 100px;
    margin: -85px 0px -20px 0px;
}

main {
    display: flex;
        justify-content: center;
        align-items: center;
    height: 100%;
}

.box {
    width: max-content;
    padding: 40px 60px;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

#menu-main {
    width: 100%;
    margin-top: 12px;
}

#menu-main a {
    width: 100%;

    padding: 0px;
    margin: 0px;
    margin-bottom: 12px;

    text-align: center;
    font-size: 1.7rem;
    font-family: "Rounded Elegance";
    font-weight: bold;
    text-shadow: var(--main-stroke);
    transition: text-shadow .3s;
}

#menu-main a:hover, #menu-main a:active {
    text-shadow: white 0px 0px 10px;
}

#menu-music {
    margin: auto;
    width: 100%;
}

.fa-chevron-left {
    font-size: 1.5rem;
}

i {
    display: inline-block;
}

.custom-icon {
    width: var(--main-website-icon-size);
    height: var(--main-website-icon-size);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 20px;
}

.music-to-home {
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    font-size: 1.8rem
}

/* ########################################################################################### */

@media (max-width:472px)
{
    #sign {
        font-size: 2rem;
    }

    .box {
        padding: 20px 40px;
    }

    #menu-main a {
        font-size: 1.5rem;
    }

    #menu-main a:active {
        text-shadow: white 0px 0px 10px;
    }

    #logo {
        width: 100px;
        margin: -70px 0px -20px 0px;
    }
}